<div class="center-container">
<button class="add-employee-btn" (click)="Add()">Add Employee</button>

<form (ngSubmit)="onSearch()">
  <input type="text" [(ngModel)]="searchName" name="name" placeholder="Search by name" required>
  <input type="text" [(ngModel)]="searchEmail" name="email" placeholder="Search by email" required>
  <button type="submit">Search</button>
</form>

<table>
  <thead>
    <th>id</th>
    <th>name</th>
    <th>department</th>
    <th>salary</th>
    <th>email</th>
    <th>mobile</th>
    <th>join date</th>
    <th>Edit</th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <td>{{ emp.employeeId }}</td>
      <td>{{ emp.employeeName }}</td>
      <td>{{ emp.departmentId }}</td>
      <td>{{ emp.salary }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.mobileNo }}</td>
      <td>{{ emp.joiningDate }}</td>
      <td><button (click)="edit(emp.employeeId)">Edit </button> </td>
    </tr>
  </tbody>
</table>
</div>
